
  #main{
    float:left;
    width:85%;
    background-color: lightgray;
}
.button1 {
  display: inline-block;
  border-radius: 4px;
  background-color: #e79822;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.product-image:hover{
  transform: translate(0,0);
  position:relative;
  overflow:hidden;
  transform: scale(1.2);
}
